@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

a {
  color: white;
}

option {
  text-align: center;
}

select {
  border: 0;
  outline: 0;
  margin: 0.1rem 0.1rem 0.1rem 1rem;
  padding: 1rem;
  width: 7rem;
}

.power-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding-left: 1rem;
  padding-top: 3rem;
}

.navbar {
  background-color: darkcyan;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  top: 0;
  width: 100vw;
}

.navbar a {
  font-size: 2rem;
  padding: 0 1.4rem;
}

.power-select {
}
