@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

a {
  color: white;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.power-select {
  padding-bottom: 1.5rem;
}