@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab:wght@700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  letter-spacing: 1px;
}

h1, h3, h4, h5 , h2, h6, a {
  font-family: 'Roboto Slab', serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 2rem;
}

option {
  text-align: center;
}

.main-page p, li {
  width: 36em;
}

select {
  border: 0;
  outline: 0;
  margin: 0.1rem 0.1rem 0.1rem 1rem;
  padding: 1rem;
  width: 7rem;
}

select:hover {
  cursor: pointer;
}

.power-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding-left: 1rem;
  padding-top: 3rem;
}

.char-image {
  display: inline-block;
  width: 83.25px;
  height: 125px;
}

.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #00748B;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  top: 0;
  width: 100vw;
}

.navbar a {
  color: white;
  font-size: 2rem;
  padding: 0 1.4rem;
}

.save-button {
  margin-bottom: 2rem;
}